
DummyPrj.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist

DummyPrj.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/DummyPrj.xcscheme

DummyPrj.xcodeproj/project.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate
